@CHARSET "UTF-8";



ul.turntable-view{ margin: 0; padding: 0;}

ul.turntable-view li.turntable-node{ list-style: none; margin: 0;}
.turntable-node{ background: #fff; border: 1px solid #000; padding: 5px 10px;}

ul.turntable-view li.turntable-button{ display: block; list-style: none; margin: 0; padding: 0;}
ul.turntable-view li.turntable-button a{ cursor: pointer;}
ul.turntable-view li.turntable-button a.turntable-prev{ left: 0; position: absolute; top: 0;}
ul.turntable-view li.turntable-button a.turntable-next{ position: absolute; right: 0; top: 0;}
